# Virtual environment directories
venv/
.venv/

# Python compiled files and bytecode
*.pyc
__pycache__/

# Jupyter Notebook checkpoint folders
.ipynb_checkpoints/

# IDE specific files (e.g., VS Code)
.vscode/

# Operating System files
.DS_Store # macOS
Thumbs.db # Windows

# Hugging Face cache (models, datasets, etc.) - Can get very large
.cache/